<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>Usuario: <%= nombre %></h1>
<h2>Proveedor: <%= proveedor %></h2>
<img src="<%= foto %>">
<hr>
<a href="/redes/logout">Cerrar Sesión</a>

</body>
</html>