<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
</head>
<body ng-controller="controlador as ctrl">

	<%- body %>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/appControladores.js"></script>
	<script src="js/appFactorias.js"></script>

</body>
</html>